
body{
    background-image: url('../utilities/organic-food-healthy.jpg') !important;
    background-size: cover !important;     
}   

h1{
    padding:2rem;
}

#mainContent{
    
    padding: 1.5em;
}

h3
{
    margin-top: 0.5em !important;
}

.field{
    border-top: double white;
}

#dishSelector{
    padding: 2em;
    background-color: rgba(0, 0, 0, 0.8);
}